<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DSKDesktopPrefPane</key>
	<dict>
		<key>UserFolderPaths</key>
		<array>
			<string>/Users/garethrobertlee/Documents</string>
			<string>/Volumes/workspace/wallpaper</string>
      <string>/Volumes/downloads/kaz</string>
		</array>
	</dict>
	<key>NSNavLastRootDirectory</key>
	<string>/Volumes/workspace/wallpaper</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{712, 448}</string>
	<key>NSOutlineView Items DSKSourceOfPicturesOutlineView</key>
	<array>
		<string>DSKUserFoldersRootSource</string>
		<string>DSKAppleRootSource</string>
	</array>
	<key>NSQuitAlwaysKeepsWindows</key>
	<false/>
	<key>NSSplitView Subview Frames keyboard.shortcuts.splitview</key>
	<array>
		<string>0.000000, 0.000000, 171.000000, 239.000000, NO, NO</string>
		<string>180.000000, 0.000000, 405.000000, 239.000000, NO, NO</string>
	</array>
	<key>NSWindow Frame Main Window Frame SystemPreferencesApp 8.0</key>
	<string>217 211 668 524 0 0 1440 877 </string>
	<key>ShowAllMode</key>
	<false/>
	<key>SoundTab</key>
	<string>effects</string>
	<key>ThirdPartyCount</key>
	<integer>0</integer>
	<key>com.apple.PreferenceSync.ExcludeSyncKeys</key>
	<array>
		<string>Main Window Frame SystemPreferencesApp 8.0</string>
		<string>com.apple.preference.keyboard.lastselectedtab</string>
	</array>
	<key>com.apple.datetimepref.lastselectedtab</key>
	<string>DateTime</string>
	<key>com.apple.dtandsspref.lastselectedtab</key>
	<string>com.apple.preference.desktopscreeneffect.desktop</string>
	<key>com.apple.preference.keyboard.lastselectedtab</key>
	<string>hotkeysTabIdentifier</string>
	<key>com.apple.preferences.accounts.outline.usersparent</key>
	<true/>
	<key>com.apple.preferences.keyboard.text.sortDescriptors</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0FycmF5AISECE5TT2JqZWN0AIWEAWkBkoSE
	hBBOU1NvcnREZXNjcmlwdG9yAJSShISECE5TU3RyaW5nAZSEASsIc2hvcnRjdXSGhAFj
	AZKEmJgZbG9jYWxpemVkU3RhbmRhcmRDb21wYXJlOoaGhg==
	</data>
</dict>
</plist>
