<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AggressivelyCleanup</key>
	<false/>
	<key>G2MBuildNumber</key>
	<integer>7881</integer>
	<key>NextActivateCheck</key>
	<date>2018-01-27T21:49:28Z</date>
	<key>NextUpdateCheck</key>
	<date>2018-01-28T05:00:30Z</date>
	<key>RescheduledUpdateChecks</key>
	<integer>0</integer>
	<key>UpdateInfoURL</key>
	<string>https://builds.cdn.getgo.com/g2mupdater/live/config.json</string>
</dict>
</plist>
