<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AggressivelyCleanup</key>
	<true/>
	<key>G2MBuildNumber</key>
	<integer>2147483647</integer>
	<key>NextUpdateCheck</key>
	<date>4001-01-01T00:00:00Z</date>
	<key>UpdateInfoURL</key>
	<string>https://p5.osdimg.com/g2mupdater/dead/config.json</string>
</dict>
</plist>
